$def with (id,glyph,onyomi,kunyomi,keyword,meaning,tags)
<html>
<head>
  <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
<script type="text/javascript">
  $$(function() {
    $$("#kwsugg").autocomplete({
       source: function(req, add){  
                requrl = "/kwsugg/" + req.term + "/"; 
                $$.getJSON(requrl, req, function(data) {  
                    add(data);                
                })
       }
    });
    $$("#kwformid").submit(function() {
      var whereto = "/kanji/" + $$("#kwsugg").val() + "/";
      window.location = whereto;
      return false;
    });

    $$("#ktsugg").autocomplete({
       source: function(req, add){  
                requrl = "/ktsugg/" + req.term + "/"; 
                $$.getJSON(requrl, req, function(data) {  
                    add(data);                
                })
       }
    });
    $$("#ktformid").submit(function() {
      var whereto = "/addKanjiTag/" + $id + "/" + $$("#ktsugg").val() + "/";
      window.location = whereto;
      return false;
    });

})
</script>
<link rel="stylesheet" type="text/css" href="/style.css" />
</head>

<body>
<form id="kwformid">
  <input id="kwsugg" type="text" autocapitalize="off" autocorrect="off">
  <button id="doit">go</button> 
</form>

<hr>
<h1>$glyph</h1>
keyword: $keyword
<br>
id: $id
<br>
on: $onyomi
<br>
kun: $kunyomi
<br>
meaning: [ $meaning ] 
<br>
$if len(tags) > 0:
      <h1>Tags</h1>
$for t in tags:
      <a href=/ktag/$t/>$t</a>
      <br>

<form id="ktformid">
  <input id="ktsugg" type="text" autocapitalize="off" autocorrect="off">
  <button id="doit">add</button> 
</form>

<hr>
<a href=/neighbours/$id/10/>neighbours</a>
</body>
</html>
