<html>
<head>
  <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
  
 
<script type="text/javascript">
  $$(function() {
    $$("#sugg").autocomplete({
       source: function(req, add){  
                //pass request to server
                requrl = "/sugg/" + req.term + "/"; 
                $$.getJSON(requrl, req, function(data) {  
                    add(data);                
                })
       }
    })
})
</script>
</head>
<body>
<h1>Suggestion Form</h1>
<form>
  <input id="sugg" type="text">
  <button type="button" id="doit">doit</button>
</form> 
</body>
</html>
